<title>{{title}}</title>
<app-timer></app-timer>
<hr />
<br />
<app-vote-taker></app-vote-taker>
<hr />
<mat-tab-group animationDuration="0ms">
    <mat-tab label="Template-driven"><app-t-form></app-t-form></mat-tab>
    <mat-tab label="Reactive"><app-reactive-form></app-reactive-form></mat-tab>
</mat-tab-group>
<!-- <nav>
    <a routerLink="/template-form">Template form</a>
    <a routerLink="/reactive-form">Reactive from</a>
</nav>

<router-outlet></router-outlet> -->

<hr />

<app-form></app-form>