<h3>Reactive Form Example</h3>
<form [formGroup]="skillForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="margin-5">
        <mat-label>first Name</mat-label>
        <input matInput type="text" id="fname" formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="margin-5">
        <mat-label>last Name</mat-label>
        <input matInput type="text" id="lname" formControlName="lastName">
    </mat-form-field>

    <div formGroupName="address">
        <h2>Address</h2>

        <mat-form-field appearance="outline" class="margin-5">
            <mat-label>street</mat-label>
            <input matInput type="text" id="street" formControlName="street">
        </mat-form-field>
    </div>

    <button mat-button type="submit" [disabled]="!skillForm.valid">Submit</button>
</form>

<br />

<mat-card class="margin-5">
    <mat-card-content>
        form value - {{skillForm.value | json}}
        <br />
        form status - {{skillForm.status | json}}
    </mat-card-content>
</mat-card>